:root{
    --dark-background:#1f2937;
    --light-color:#f9faf8;
    --secondary:#e5e7eb;
    --button:#3882f6;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #e5e7eb;
    background: #1f2937;
    padding: 10px ;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
a{
    color: #e5e7eb;
    text-decoration: none;
}
img{
    max-height: 300px;
}
.main{
    height: 500px;
    padding: 5rem;
    display: flex;
    background: #1f2937;
    color: #f9faf8;
    justify-content: center;
    padding-top:150px;
}
.paragraph{
    max-width: 400px;
    margin-right: 50px;
}
.paragraph p{
     font-size: 18px;
     color: #e5e7eb;
     font-weight: 200;
}
.paragraph h1{
    font-size: 48px;
    font-weight: 900;
}
button{
    color: #f9faf8;
    background-color: #3882f6;
    margin-top: 10px;
    border: 0;
    padding: 10px 40px;
    border-radius:15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}
.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: #1f2937;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images img{
    max-width: 200px;
    margin: 30px;
}
